.css-19z1ozs-MuiPaper-root-MuiAppBar-root {
  background-color: #ffffff !important;
  color: #280349 !important;
  box-shadow: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.css-1191obr-MuiPaper-root-MuiAppBar-root {
  background-color: #ffffff !important;
  color: #280349 !important;
  box-shadow: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  border-right: none !important;
}
.css-mfcv0d-MuiAvatar-root {
  border-radius: 5px !important;
}
.css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding-left: 0px !important;
}
